

.pe-form{
    width: 1000px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.pe-form > div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 18px;
    width: 100%;
}

.pe-form .pe-line{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 24px;
}

.pe-form .pe-form2 .pe-line{
    justify-content: flex-start;
    gap: 12px;
}

.pe-form .pe-line > div {
    flex: 1 1 100%;
}

.pe-form2 .pe-line > div {
    flex: 0 0 auto;
}

.pe-form .pe-line .pe-form-left,
.pe-form .pe-line .pe-form-right{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 12px;
}

.pe-form .pe-line .pe-form-left > div,
.pe-form .pe-line .pe-form-right > div{
    flex: 1 1 100%;
}

.pe-form .pe-form2 .pe-line.pe-address > div {
    width: 100%;
}

.pe-form .pe-form1 .pe-human > :first-child{
    flex: 40;
}
.pe-form .pe-form1 .pe-human > :last-child{
    flex: 60;
}

.pe-form .pe-form1 .pe-code > :first-child{
    flex: 40;
}
.pe-form .pe-form1 .pe-code > :last-child{
    flex: 60;
}

.pe-form .pe-form1 .pe-identity > :first-child{
    flex: 65;
}
.pe-form .pe-form1 .pe-identity > :last-child{
    flex: 35;
}

