
/* IMPORT layout css */
@import url(@/css/layouts/body.css);
@import url(@/css/layouts/header-bar.css);
@import url(@/css/layouts/sidebar.css);

/* IMPORT component css */
@import url(@/css/base/button.css);
@import url(@/css/base/textfield.css);
@import url(@/css/base/table.css);
@import url(@/css/base/font.css);
@import url(@/css/base/dialog.css);
@import url(@/css/base/toast.css);
@import url(@/css/base/popup.css);
@import url(@/css/base/dropdown-list.css);
@import url(@/css/base/combobox.css);


/* LAYOUT */
.p-import-page-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'KS-font-regular';
    height: 100%;
    gap: 12px;
}

.p-import-page-container .p-content-header{
    display: flex;
    /* flex: 1 1 auto; */
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.p-import-page-container .p-content-title{
    font-size: 24px;
    font-family: 'KS-font-bold';
}

.p-import-page-container .p-content-content{
    background-color: white;
    width: 100%;
    flex: 1 1 100%;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0px;

    overflow: hidden;

    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
}

.p-import-page-container .p-import-header{
    font-family: 'KS-font-bold';
    padding: 8px 12px 0px 12px;
}

.p-import-page-container .p-import-content-page{
    padding: 0 12px;
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
    justify-content: space-between;
}

.p-import-content-page .p-import-navbar{
    box-sizing: border-box;
    width: auto;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: flex-start;
    gap: 8px;
}

.p-import-navbar .p-navbar-item {
    font-family: 'KS-font-semibold';
    width: auto;
    border-radius: 4px;
    border: solid #E6E6E6 1px;
    /* background-color: rgba(80, 184, 60, 0.1); */
    padding: 4px 8px;
    cursor: pointer;
}

.p-import-navbar .p-navbar-item:not(.p-navbar-item-chosen):hover {
    background-color: rgba(80, 184, 60, 0.1);
}

.p-import-navbar .p-navbar-item-chosen {
    background-color: rgba(80, 184, 60, 0.3);
}

.p-import-content-page .p-import-content{
    flex: 1;
    height: 100%;
    /* padding: 12px; */
    /* border: solid #E6E6E6 1px; */
    border-radius: 4px;
    overflow: auto;
    box-sizing: border-box;
}


.p-import-page-container .p-import-toolbar{
    padding: 12px;
    background-color: #EEEEEE;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 8px;
}

.p-import-page-container .p-import-toolbar > *{
    width: fit-content;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 8px;
}

