
@import url(@/css/base/font.css);

.pfp-background{
    width: 100%;
    height: 100%;
    background-image: url(@/assets/login/bg1.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'KS-font-regular';
    font-size: 14px;
    /* color: white; */
}

.pfp-change-language-button{
    position: fixed;
    width: fit-content;
    height: fit-content;
    right: 24px;
    top: 24px;
}

.pfp-background .pfp-form-container{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,30,61,.6) 0,rgba(0,0,0,.1) 41.42%,rgba(0,0,0,.3) 100%);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.pfp-form-container .pfp-copyright{
    color: rgba(255,255,255,.6);
    font-size: 12px;
}

.pfp-form-container .pfp-form{
    width: 400px;
    height: fit-content;
    /* height: 473px; */
    padding: 24px 48px;
    box-sizing: border-box;
    background-color: #fff;

    border-radius: 8px;
    min-height: 340px;
    box-shadow: 0 12px 20px rgba(0,0,0,.12)
}

.pfp-form .pfp-logo-frame{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    padding: 16px 0px;
}
.pfp-form .pfp-logo-frame .pfp-logo{
    width: 196px;
    height: 36px;
    background-image: url(@/assets/login/icon-platform2.svg);
    background-size: 100% 100%;
    background-position: center;
}

.pfp-form .pfp-header-and-description{
    padding: 16px 0px 24px 0px;
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
    align-items: center;
}

.pfp-form .pfp-header{
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center;
}

.pfp-form .pfp-description{
    color: #4d5156;
    font-size: 14px;
    text-align: center;
    width: 90%;
}

.pfp-form .pfp-input{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: column nowrap;
    gap: 12px;
    padding-bottom: 16px;
    justify-content: center;
    align-items: center;
}

.pfp-input > * {
    width: 100%;
    height: fit-content;
}

.pfp-form .pfp-error-message{
    min-height: 24px;
    line-height: 17px;
    color: #ff1d1d;
    padding-bottom: 16px;
}

.pfp-form .pfp-links{
    padding-bottom: 24px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.pfp-form .pfp-button {
    padding-bottom: 24px;
}


