
/* IMPORT layout css */
@import url(@/css/layouts/body.css);
@import url(@/css/layouts/header-bar.css);
@import url(@/css/layouts/sidebar.css);

/* IMPORT component css */
@import url(@/css/base/button.css);
@import url(@/css/base/textfield.css);
@import url(@/css/base/table.css);
@import url(@/css/base/font.css);
@import url(@/css/base/dialog.css);
@import url(@/css/base/toast.css);
@import url(@/css/base/popup.css);
@import url(@/css/base/dropdown-list.css);
@import url(@/css/base/combobox.css);


/* LAYOUT */
.p-customer-page-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'KS-font-regular';
    height: 100%;
    gap: 12px;
}

.p-content-header{
    display: flex;
    /* flex: 1 1 auto; */
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.p-content-title{
    font-size: 24px;
    font-family: 'KS-font-bold';
}

.p-content-content{
    background-color: white;
    width: 100%;
    flex: 1 1 100%;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px;

    overflow: hidden;
}

.p-content-content .p-table-frame {
    flex: 1 1 100%;
}


/* TABLE DATA */
#p-staff-table table .p-table-columnD{
    text-align: center;
}
#p-staff-table table .p-table-columnF{
    text-align: right;
}


/* DELETE DIALOG */
#p-delete-dialog-container {
    visibility: hidden;
}

#p-delete-dialog-container > div {
    display: none;
}



/* ADD POPUP AND EDIT POPUP*/

#p-my-popup .p-popup-background{
    visibility: hidden;
    z-index: 100;
}

#p-my-popup .p-popup-background > .p-popup {
    display: none;
}


#p-my-popup #p-add-1 .p-input-gender-dob,
#p-my-popup #p-edit-1 .p-input-gender-dob{
    display: flex;
    justify-content: space-between;
    gap: 16px;
    box-sizing: border-box;
}
#p-my-popup #p-add-1 .p-input-dob,
#p-my-popup #p-edit-1 .p-input-dob{
    flex: 1 1 100%;
}
#p-my-popup #p-add-1 .p-input-gender,
#p-my-popup #p-edit-1 .p-input-gender{
    flex: 1 1 100%;
}
#p-my-popup #p-add-1 .p-input-bound,
#p-my-popup #p-edit-1 .p-input-bound{
    /* width: 100%; */
    min-width: 0px;
}


#p-my-popup #p-add-2 .p-input-cccd-cccd-date,
#p-my-popup #p-edit-2 .p-input-cccd-cccd-date{
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    gap: 16px;
}
#p-my-popup #p-add-2 .p-input-bound,
#p-my-popup #p-edit-2 .p-input-bound {
    min-width: 0px;
}
#p-my-popup #p-add-2 .p-input-cccd,
#p-my-popup #p-edit-2 .p-input-cccd{
    flex: 1 1 100%;
}
#p-my-popup #p-add-2 .p-input-cccd-date,
#p-my-popup #p-edit-2 .p-input-cccd-date{
    flex: 1 1 100%;
}



