
@import url(@/css/main.css);


.p-context-menu{
    position: relative;
    width: fit-content;
    height: fit-content;
}

.p-context-menu .p-context-menu-mask {
    width: fit-content;
    cursor: pointer;
}

.p-context-menu-container{
    min-width: 250px;
    width: fit-content;
    height: fit-content;
    padding: 16px 0px;
    border-radius: 4px;
    background-color: #FFFFFF;
    z-index: 100;
    position: absolute;
    font-family: 'ks-font-regular';
    box-shadow: var(--box-shadow-menucontext);
}

.p-context-menu-devide{
    /* background-color: rgba(80, 184, 60, 0.1); */
    padding: 8px 0px;
    height: 1px;
}
.p-context-menu-devide div{
    border-bottom: solid rgba(0, 0, 0, 0.05) 1px;
}


.p-context-menu-item{
    height: 36px;
    padding: 0px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    cursor: pointer;
    font-family: 'ks-font-semibold';
}
.p-context-menu-item .p-context-menu-item-icon{
    width: 28px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.p-context-menu-item:hover{
    background-color: rgba(var(--primary-color-rgb), 0.1)
}
.p-context-menu-item:active{
    background-color: rgba(var(--primary-color-rgb), 0.3)
}
