
@import url(@/css/main.css);

.d-home {
    --subpage-max-width: 360px;
    --subpage-min-width: 280px;

    --feed-page-max-width: 680px;
    --feed-page-min-width: 450px;
    --feed-page-padding: 32px;

    --bar-height: 56px;

    --body-min-width: 1074px;
    
    --profile-page-max-width: 1186px;
    --course-page-max-width: 1186px;
}

.d-home {
    background-color: var(--primary-color-50);
    overflow: hidden;
    min-height: 100vh;
}

.card{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1),
                0 2px 4px 0 rgba(0, 0, 0, 0.06);
    width: 100%;
    color: var(--blue-grey-color-900);
}

.p-devide{
    width: 100%;
    height: 1px;
    background-color: var(--primary-color-200);
}
