
@import url(@/css/main.css);


.pa-form .pr-header-and-description{
    padding: 0px 0px 24px 0px;
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
    align-items: center;
}

.pa-form .pr-header{
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center;
}

.pa-form .pr-description{
    color: #4d5156;
    font-size: 14px;
    text-align: center;
    width: 90%;
}

.pa-form .pr-input{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: column nowrap;
    gap: 12px;
    padding-bottom: 16px;
    justify-content: center;
    align-items: center;
}

.pr-input > * {
    width: 100%;
    height: fit-content;
}

.pa-form .pr-links{
    padding-bottom: 24px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.pa-form .pr-button {
    padding-bottom: 24px;
}
