

@import url(./base/color.css);
@import url(./base/font.css);
@import url(./base/skeleton/skeleton.css);


:root{
	--component-height-taller: 48px;
	--component-height: 36px;
	--border-radius: 4px;
	--button-padding: 0px 24px;

	--font-size: 14px;
	--box-shadow-card: 0px 0px 10px rgba(var(--primary-color-rgb), 0.2);
	--box-shadow-menucontext: 0px 0px 10px rgba(var(--primary-color-rgb), 0.56);

	--authentication-background-img: url(@/assets/background/bg1.jpg) center/cover;
	--logo-img: url(@/assets/brand/logo.png) center/100% 100%;
}

#app {
	font-family: 'ks-font-regular';
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: var(--blue-grey-color-900);
	
}

html,body {
    height:100%;
}


* {
	/* z-index: 0; */
	/* position: relative; */
	box-sizing: border-box;
	transition: background-color 0.5s ease;
}
