

@import url(./base/color.css);
@import url(./base/font.css);


:root{
	--component-height: 36px;
	--border-radius: 4px;
	--button-padding: 0px 24px;

	--font-size: 14px;
}

#app {
	font-family: 'ks-font-regular';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: var(--blue-grey-color-900);
	margin-top: 60px;
}

* {
	box-sizing: border-box;
	overflow: visible;
	transition: background-color 0.5s ease;
}
