

.p-feedcard-lesson * {
    text-align: start;
}

.p-feedcard-lesson > div {
    width: 100%;
}

.p-feedcard-lesson{
    padding: 16px 0px 8px 0px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.p-feedcard-lesson__header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 8px;
}

.p-feedcard-lesson__reminder{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    font-weight: 500;
    flex: 1;
    text-align: justify;
    font-size: 16px;
    min-height: 42px;
    border-radius: 32px;
    background-color: var(--grey-color-200);
    padding: 4px 12px;
    box-sizing: border-box;
    cursor: pointer;
    color: var(--grey-color-600);
}
.p-feedcard-lesson__reminder:hover{
    background-color: var(--grey-color-300);
    color: var(--blue-grey-color-800);
}


.p-feedcard-lesson__title{
    padding: 4px 16px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    width: 100%;
}

.p-feedcard-lesson__categories,
.p-feedcard-lesson__content,ques
.p-feedcard-lesson__devide,
.p-feedcard-lesson__comments{
    width: 100%;
    padding: 0px 16px;
}

.p-feedcard-lesson__devide > div{
    height: 1px;
    margin: 4px 0px;
    width: 100%;
    background-color: var(--grey-color-300);
}

