

.p-feedcard-question * {
    text-align: start;
}

.p-feedcard-question > div {
    width: 100%;
}

.p-feedcard-question{
    padding: 16px 0px 8px 0px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.p-feedcard-question__header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 8px;
}

.p-feedcard-question__reminder{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    font-weight: 500;
    flex: 1;
    text-align: justify;
    font-size: 16px;
    min-height: 42px;
    border-radius: 32px;
    background-color: var(--grey-color-200);
    padding: 4px 12px;
    box-sizing: border-box;
    cursor: pointer;
    color: var(--grey-color-600);
}
.p-feedcard-question__reminder:hover{
    background-color: var(--grey-color-300);
    color: var(--blue-grey-color-800);
}


.p-feedcard-question__title{
    padding: 12px 16px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;
    font-size: 22px;
    width: 100%;
}

.p-feedcard-question__abstract{
    padding: 0 16px;
    padding-bottom: 12px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    /* font-weight: 600; */
    font-size: 16px;
    width: 100%;
}

.p-feedcard-question__categories,
.p-feedcard-question__content,
.p-feedcard-question__devide,
.p-feedcard-question__comments{
    width: 100%;
    padding: 0px 16px;
}

.p-feedcard-question__devide > div{
    height: 1px;
    margin: 4px 0px;
    width: 100%;
    background-color: var(--grey-color-200);
}

