
@import url(./icon/icon.css);
@import url(../main.css);


/* *:hover{
    transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
} */


.p-button{
    width: 100%;
    height: var(--component-height);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    cursor: pointer;
    font-size: var(--font-size);
    gap: 0px;
    font-family: 'ks-font-semibold';
    padding: var(--button-padding);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(var(--primary-color-rgb), 0.2);
}

.p-button .p-button-content{
    width: fit-content;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    height: var(--component-height);
    gap: 8px
}

.p-fitcontent-button-container{
    width: fit-content;
}

/* STATE IS LOADING */
.p-button > div.p-loading-container{
    position: absolute;
    visibility: hidden;
    display: flex;
}
.p-button[state='loading'] > div.p-button-content{
    visibility: hidden;
}
.p-button[state='loading'] > div.p-loading-container{
    visibility: visible;
}

/* STATE IS DISABLED */
.p-button[state='disabled'],
.p-button[state='disabled']:hover,
.p-button[state='disabled']:active{
    opacity: 56%;
    cursor: default;
}


/* NORMAL BUTTON */
.p-normal-button {
    padding: var(--button-padding);
    background-color: var(--primary-color);
    color: white;
}

.p-normal-button:not([state='loading']):hover{
    background-color: var(--primary-color-400);
}

.p-normal-button:not([state='loading']):active{
    background-color: var(--primary-color-600);
}


/* DELETE BUTTON */
.p-delete-button {
    padding: var(--button-padding);
    background-color: var(--red-color);
    box-shadow: 0 0 4px rgba(var(--red-color-rgb), 0.56);
    color: white;
}

.p-delete-button:not([state='loading']):hover{
    background-color: var(--red-color-400);
}

.p-delete-button:not([state='loading']):active{
    background-color: var(--red-color-600);
}




/* CANCEL BUTTON */

.p-cancel-button,
.p-cancel-icon-button {
    padding: var(--button-padding);
    background-color: var(--transparent-color);
    color: var(--primary-color);
    border: solid var(--primary-color-100) 1px;
}

.p-cancel-button:not([state='loading']):hover,
.p-cancel-icon-button:not([state='loading']):hover{
    background-color: var(--grey-color-200);
}

.p-cancel-button:not([state='loading']):active,
.p-cancel-icon-button:not([state='loading']):active{
    background-color: var(--grey-color-300);
}


/* EMBEDDED BUTTON */

.p-embedded-button {
    padding: var(--button-padding);
    background-color: var(--transparent-color);
    color: var(--primary-color);
    border: unset;
    box-shadow: none;
}

.p-embedded-button:not([state='loading']):hover,
.p-embedded-icon-button:not([state='loading']):hover{
    background-color: var(--grey-color-200);
}

.p-embedded-button:not([state='loading']):active,
.p-embedded-icon-button:not([state='loading']):active{
    background-color: var(--grey-color-300);
}



/* LINK BUTTON */
.p-link-button {
    background-color: var(--transparent-color);
    color: var(--primary-color);
    border: none;
    box-shadow: none;
}
.p-link-button a{
    text-decoration: none;
    color: var(--primary-color);
}
.p-link-button[state='disabled'] a{
    cursor: default;
}
.p-link-button:not([state='loading']):hover a {
    color: var(--primary-color-400);
}
.p-link-button:not([state='loading']):active a{
    color: var(--primary-color-600);
}




/* COMBO BUTTON */
.p-combo-button {
    padding: 0px 0px;
    background-color: var(--primary-color);
    color: white;
}
.p-combo-button:not([state='loading']):hover{
    background-color: var(--primary-color-400);
}
.p-combo-button:not([state='loading']):active{
    background-color: var(--primary-color-600);
}

.p-content-combo-button{
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
}

.p-combo-button-left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 16px 0 12px;
    gap: 8px
}

.p-combo-button-right{
    width: auto;
    height: 100%;
    border-left: solid white 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
}