

:root{
    --white-color: #FFFFFF;
    --black-color: #000000;
    --transparent-color: rgba(255, 255, 255, 0);

    --primary-color: #9C27B0;
    --primary-color-900: #1F0823;
    --primary-color-800: #3E1046;
    --primary-color-700: #5E176A;
    --primary-color-600: #7D1F8D;
    --primary-color-500: #9C27B0;
    --primary-color-400: #B052C0;
    --primary-color-300: #C47DD0;
    --primary-color-200: #D7A9DF;
    --primary-color-100: #EBD4EF;
    --primary-color-50 : #F5EAF7;

    --red-color: #E60000;
    --red-color-900: #2E0000;
    --red-color-800: #5C0000;
    --red-color-700: #8A0000;
    --red-color-600: #B80000;
    --red-color-500: #E60000;
    --red-color-400: #EB3333;
    --red-color-300: #F06666;
    --red-color-200: #F59999;
    --red-color-100: #FACCCC;
    --red-color-50 : #FCE6E6;

    --grey-color: #9E9E9E;
    --grey-color-900: #1F1F1F;
    --grey-color-800: #424242;
    --grey-color-700: #616161;
    --grey-color-600: #757575;
    --grey-color-500: #9E9E9E;
    --grey-color-400: #BDBDBD;
    --grey-color-300: #E0E0E0;
    --grey-color-200: #EEEEEE;
    --grey-color-100: #F5F5F5;
    --grey-color-50 : #FAFAFA;

    --blue-grey-color: #607D8B;
    --blue-grey-color-900: #13191C;
    --blue-grey-color-800: #263237;
    --blue-grey-color-700: #3A4B54;
    --blue-grey-color-600: #4D646F;
    --blue-grey-color-500: #607D8B;
    --blue-grey-color-400: #8097A2;
    --blue-grey-color-300: #A0B1BA;
    --blue-grey-color-200: #BFCBD0;
    --blue-grey-color-100: #DFE5E8;
    --blue-grey-color-50 : #EFF2F4;


    /* RGB code */
    --white-color-rgb: 255, 255, 255;
    --black-color-rgb: 0, 0, 0;

    --primary-color-rgb: 156, 39, 176;
    --primary-color-900-rgb: 31, 8, 35;
    --primary-color-800-rgb: 62, 16, 70;
    --primary-color-700-rgb: 94, 23, 106;
    --primary-color-600-rgb: 125, 31, 141;
    --primary-color-500-rgb: 156, 39, 176;
    --primary-color-400-rgb: 176, 82, 192;
    --primary-color-300-rgb: 196, 125, 208;
    --primary-color-200-rgb: 215, 169, 223;
    --primary-color-100-rgb: 235, 212, 239;
    --primary-color-50-rgb: 245, 234, 247;

    --red-color-rgb: 230, 0, 0;
    --red-color-900-rgb: 46, 0, 0;
    --red-color-800-rgb: 92, 0, 0;
    --red-color-700-rgb: 138, 0, 0;
    --red-color-600-rgb: 184, 0, 0;
    --red-color-500-rgb: 230, 0, 0;
    --red-color-400-rgb: 235, 51, 51;
    --red-color-300-rgb: 240, 102, 102;
    --red-color-200-rgb: 245, 153, 153;
    --red-color-100-rgb: 250, 204, 204;
    --red-color-50-rgb: 252, 230, 230;

    --grey-color-rgb: 158, 158, 158;
    --grey-color-900-rgb: 31, 31, 31;
    --grey-color-800-rgb: 66, 66, 66;
    --grey-color-700-rgb: 97, 97, 97;
    --grey-color-600-rgb: 117, 117, 117;
    --grey-color-500-rgb: 158, 158, 158;
    --grey-color-400-rgb: 189, 189, 189;
    --grey-color-300-rgb: 224, 224, 224;
    --grey-color-200-rgb: 238, 238, 238;
    --grey-color-100-rgb: 245, 245, 245;
    --grey-color-50-rgb: 250, 250, 250;

    --blue-grey-color-rgb: 96, 125, 139;
    --blue-grey-color-900-rgb: 19, 25, 28;
    --blue-grey-color-800-rgb: 38, 50, 55;
    --blue-grey-color-700-rgb: 58, 75, 84;
    --blue-grey-color-600-rgb: 77, 100, 111;
    --blue-grey-color-500-rgb: 96, 125, 139;
    --blue-grey-color-400-rgb: 128, 151, 162;
    --blue-grey-color-300-rgb: 160, 177, 186;
    --blue-grey-color-200-rgb: 191, 203, 208;
    --blue-grey-color-100-rgb: 223, 229, 232;
    --blue-grey-color-50-rgb: 239, 242, 244;
}