
@import url(./icon/icon.css);
@import url(@/css/base/font.css);


.p-date-picker-bound{
    height: 36px;
    border-radius: 4px;
    opacity: 100%;
    font-size: 14px;
    min-width: 60px;
    width: 100%;
    padding: 0px;
    border: solid #E0E0E0 1px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.p-date-picker{
    font-family: 'ks-font-regular';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    height: 20px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;

    outline: unset;
    border: unset;
}


.p-date-picker input,
.p-date-picker > div,
.p-date-picker .dp__input_wrap
{
    outline: unset;
    border: unset;
    box-sizing: border-box;
    font-family: 'ks-font-regular';
    font-size: 14px;
    /* padding: 0;
    margin: 0; */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.p-date-picker::placeholder{
    color: #9E9E9E;
}


/* NORMAL STATE */
.p-input:not([state="read-only"]) .p-date-picker-bound:hover{
    background-color: #F6F6F6;
    border: solid #EBEBEB 1px;
}
.p-input:not([state="read-only"]):not([state="error"]) .p-date-picker-bound:focus-within{
    background-color: #FFFFFF;
    border: solid #50B83C 1px;
}


/* ERROR STATE */
.p-input[state="error"] .p-date-picker-bound{
    background-color: white;
    border: solid #E61D1D 1px;
}
.p-input[state="error"] .p-date-picker-bound:hover{
    background-color: #F6F6F6;
    border: solid #E61D1D 1px;
}
.p-input[state="error"] .p-date-picker-bound:focus-within{
    background-color: white;
    border: solid #E61D1D 1px;
}


/* READ-ONLY STATE */
.p-input[state="read-only"] .p-date-picker-bound{
    background-color: #EBEBEB;
    border: none;
}


/* VALIDATING & VALIDATED STATE */
.p-input[state="validating"] .p-date-picker-bound,
.p-input[state="validated"] .p-date-picker-bound{
    background-color: #E0E0E0;
    border: solid #50B83C 1px;
}
.p-input[state="validating"] .p-date-picker-bound:hover,
.p-input[state="validated"] .p-date-picker-bound:hover{
    background-color: #F6F6F6;
    border: solid #50B83C 1px;
}
.p-input[state="validating"] .p-date-picker-bound:focus-within,
.p-input[state="validated"] .p-date-picker-bound:focus-within{
    background-color: #FFFFFF;
    border: solid #50B83C 1px;
}


/* CHOOSE ICON */
.p-input .p-date-picker-bound i {
    display: none;
}
.p-input[state="normal"] .p-date-picker-bound i.p-normal-icon,
.p-input[state="error"] .p-date-picker-bound i.p-normal-icon,
.p-input[state="read-only"] .p-date-picker-bound i.p-normal-icon{
    display: block;
}

.p-input[state="validating"] .p-date-picker-bound i.p-validating-icon{
    display: block;
}
.p-input[state="validated"] .p-date-picker-bound i.p-validated-icon{
    display: block;
}
