
@import url(./icon/icon.css);
@import url(./font.css);


/* TOTAL TOAST */

.p-toast-container{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.p-toast{
    min-width: 450px;
    width: fit-content;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    box-shadow: 0px 4px 40px rgba(0,0,0,0.5);
    font-family: 'ks-font-regular';
    background-color: white;
    border-radius: 4px;
}


/* TOAST CONTENT */

.p-toast-content{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
}

.p-toast-icon i::before{
    width: 24px;
    height: 24px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-toast-title{
    font-family: 'ks-font-bold';
}

.p-toast-description > div {
    display: inline-block;
}


/* TOAST ACTION */
.p-toast-action{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    font-family: 'ks-font-bold';
}

.p-toast-action-text{
    cursor: pointer;
    text-decoration: underline;
    /* visibility: hidden; */
    display: none;
}

.p-toast .p-toast-action .p-icon-container{
    padding: 4px;
    /* width: 32px;
    height: 32px; */
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.p-toast.p-toast-transition {
    /* transition: right 0.5s ease-in-out; */
    animation: slideInLeft ease .3s, fadeOut linear 1s forwards;
}


/* TYPE OF TOAST */
.p-toast-success .p-toast-title,
.p-toast-success .p-toast-icon i::before{
    color: #50B83C;
}
.p-toast-success .p-toast-action-text{
    /* visibility: visible; */
    display: block;
}


.p-toast-inform .p-toast-title,
.p-toast-inform .p-toast-icon i::before{
    color: #3395FF;
}


.p-toast-warning .p-toast-title,
.p-toast-warning .p-toast-icon i::before{
    color: #FF9800;
}


.p-toast-error .p-toast-title,
.p-toast-error .p-toast-icon i::before{
    color: #E60000;
}